extends layout

block page_title
  title Hello World

block software_engineer
  p I'm going to be a software engineer soon!
  img(src="/images/earth.jpeg"
      alt="The Earth"
      title="The Earth")